@import '~antd/es/style/themes/default.less';

.componentType {
  .modelBtn {
    position: absolute;
    right: 0;
    bottom: 20px;
  }
  .time {
    padding-right: 20px;
  }
  :global {
    .ant-col-8 {
      margin-bottom: 16px;
    }
    .ant-card {
      height: 200px;
      border-radius: 7px;
    }
    .ant-card-head-title {
      padding: 4px 0 6px 20px;
    }
    .ant-card-head {
      min-height: 38px;
    }
    button, html [type="button"], [type="reset"], [type="submit"] {
      margin-right: 20px;
    }
  }
}

.record {
  margin-top: 20px;
  .label {
    display: inline-block;
    height: 32px;
    line-height: 32px;
  }
  .recordTable {
    margin-top: 40px;
  }
}
