@import '~antd/es/style/themes/default.less';

.indexImg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 64px;
  left: 0;
  width: 100%;
  .pic1 {
    background: url("../assets/index1.png") no-repeat center center lightgray;
    background-size: cover;
  }
  .pic2 {
    //.pic2_six {
    //  position: relative;
    //  left: 50%;
    //  width: 70vw;
    //  height: 50vh;
    //  background-color: red;
    //  transform: translate(-50%, 42%);
    //}
    background: url("../assets/index2-1.png") 20vw 26vh no-repeat,
                url("../assets/index2-2.png") 35vw 26vh no-repeat,
                url("../assets/index2-3.png") 50vw 26vh no-repeat,
                url("../assets/index2-4.png") 20vw 50vh no-repeat,
                url("../assets/index2-5.png") 35vw 50vh no-repeat,
                url("../assets/index2-6.png") 50vw 50vh no-repeat;
    background-size: 15vw 15vh;
  }
  .pic3 {
    background: url("../assets/3.jpg") no-repeat center center lightgray;
    background-size: cover;
  }
  .pic4 {
    background: url("../assets/4.jpg") no-repeat center center lightgray;
    background-size: cover;
  }
  :global {
    .ant-carousel .slick-slide {
      height: calc(100vh - 64px);
      overflow: hidden;
      line-height: calc(100vh - 64px);
      text-align: center;
      background: #364d79;
    }

    .ant-carousel-vertical .slick-dots li button, .ant-carousel-vertical .slick-dots li.slick-active button {
      height: 10vh;
    }

    .ant-carousel .slick-list .slick-slide {
      background: #000;
    }

    .ant-carousel-vertical .slick-dots li {
      margin: 10px 2px;
    }

    .ant-carousel-vertical .slick-dots-right {
      right: 10vw;
    }
  }
}
